
.icon-emo-grin:before { content: '\e814'; } /* '' */
.icon-vk:before { content: '\e823'; } /* '' */
.icon-eye:before { content: '\e80a'; } /* '' */
.icon-edit:before { content: '\e806'; } /* '' */
.icon-comment:before { content: '\e809'; } /* '' */
.icon-attention-circled:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e808'; } /* '' */
.icon-docs:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */
.icon-exchange:before { content: '\e80c'; } /* '' */
.icon-flight:before { content: '\e815'; } /* '' */
.icon-scissors:before { content: '\e816'; } /* '' */
.icon-terminal:before { content: '\e807'; } /* '' */
.icon-facebook-squared:before { content: '\e81c'; } /* '' */
.icon-github-1:before { content: '\e817'; } /* '' */
.icon-pagelines:before { content: '\e818'; } /* '' */
.icon-skype-1:before { content: '\e81a'; } /* '' */
.icon-twitter-squared:before { content: '\e81b'; } /* '' */
.icon-help-circled:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e812'; } /* '' */
.icon-doc-text:before { content: '\e801'; } /* '' */
.icon-folder:before { content: '\e802'; } /* '' */
.icon-trophy:before { content: '\e813'; } /* '' */
.icon-github:before { content: '\e80f'; } /* '' */
.icon-twitter:before { content: '\e810'; } /* '' */
.icon-skype:before { content: '\e811'; } /* '' */
.icon-vkontakte:before { content: '\e80e'; } /* '' */
.icon-phone-outline:before { content: '\e81d'; } /* '' */
.icon-snow:before { content: '\e81e'; } /* '' */
.icon-tree:before { content: '\e81f'; } /* '' */
.icon-sort-alphabet:before { content: '\e80d'; } /* '' */
.icon-book-open:before { content: '\e820'; } /* '' */
.icon-mail:before { content: '\e822'; } /* '' */
.icon-user-pair:before { content: '\e821'; } /* '' */
.icon-cog-1:before { content: '\e804'; } /* '' */
.icon-youtube:before { content: '\e819'; } /* '' */